<!-- Call for Papers Section -->
    <section id="cfp">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Call for Papers</h2>
                        
                            <p class="text-left">
                           DIR 2016 aims to serve as an international platform (with a special focus on the Netherlands 
                           and Belgium) for exchange and discussions on research &amp; applications in the field of information 
                           retrieval as well as related fields. We invite quality research contributions addressing 
                           relevant challenges. Contributions may range from theoretical work to descriptions of applied 
                           research and real-world systems. We especially encourage doctoral students to present their 
                           research. 
                           </p>
                           <p>
                            Topics of interest include, but are not limited to:<br>
                            <ul class="center-left">
                                <li>Document Representation and Content Analysis</li>
                                <li>Queries and Query Analysis</li>
                                <li>Retrieval Models and Ranking</li>
                                <li>Search Engine Architectures and Scalability</li>
                                <li>Users and Interactive IR</li>
                                <li>Filtering and Recommending</li>
                                <li>Evaluation</li>
                                <li>Web IR and Social Media Search</li>
                                <li>IR and Structured Data</li>
                                <li>Multimedia IR</li>
                                <li>Search applied to the Internet of Things</li>
                                <li>IR for social good</li>
                                <li>Other Applications (digital libraries, enterprise search, genomics IR, 
                                legal IR, patent search, text reuse, new retrieval problems)</li>
                            </ul>
                            </p> 
                            <p>
                            We accept two types of submissions: <br>
                            <ul>
                                <li>
                                    <em>Novel contributions</em>: research papers describing original research 
                                    that has not yet been presented to a wider audience. Submission of this type 
                                    must use the ACM proceedings <a href="http://www.acm.org/publications/proceedings-template">template</a>. 
                                    The maximum page length is <em>four pages</em> including figures and references.    
                                </li>
                                <li>
                                    <em>Research dissemination</em>: proposals to present research, which has already 
                                    been published in high-impact venues. The proposal should contain a summary of the 
                                    research conducted, a clear reference to the original publication and a short 
                                    motivation of why this work is interesting to the DIR community. The proposal is 
                                    limited to <em>one page</em> in ACM proceedings format.
                                </li>
                            </ul>
                            </p>
                            <p>
                            Accepted submissions will be presented at the conference orally or as posters; 
                            the presentation mode will be determined based on the reviewers’ suggestions. 
                            </p>
                            <p>
                            We accept submissions for DIR through <a href="https://easychair.org/conferences/?conf=dir2016">Easychair</a>.
                            </p>
                            <p>
                            Submission implies willingness of at least one author to register for DIR 2016 and present the work. 
                            Authors keep the copyright of their submissions.
                            </p>
                 
                    </div>
                </div>
            </div>
    </section>
