<!-- Call for Papers Section -->
    <section id="cfp">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Call for Papers</h2>
                        <div class="text-left">
                            <p>
                            <em>Coming soon ...</em>
                            </p> 
                         </div>                  
                    </div>
                </div>
            </div>
    </section>
