<!-- Organizer Section -->
    <section id="myContact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact</h2>
                    <p>
                        DIR 2016 is organized by the Web Information Systems group, TU Delft.<br>
                        If you have questions, email Claudia Hauff at <mark>c.hauff[at]tudelft.nl</mark>.
                    </p>
                </div>
            </div>
        </div>
    </section>
