<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">{{site.title}}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#overview">Overview</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#cfp">Call for Papers</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#program">Program</a>
                    </li>
                     <li>
                        <a class="page-scroll" href="#registration">Registration</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#organisation">Organisation</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading"><img src="img/logo-small.png" width="175">DIR2016</div>
                <div class="intro-lead-in">15th Dutch-Belgian Information Retrieval Workshop <br>
                &nbsp;<br>
                November 25, 2016<br>
                &nbsp;<br>
                <span class="cooperation">
                    In cooperation with <a href="http://www.siks.nl/">SIKS</a>.
                </span>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <span id="sponsors">SPONSORS:</span> 
                    <img src="img/BeeldEnGeluid.png" height="125">&nbsp; &nbsp;
                    <img src="img/SIGIRlogo.png" height="80">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <img src="img/wgi-logo.png" height="50" style="margin-top:20px;margin-bottom:20px">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <img src="img/textkernel-w.png" height="60" style="margin-bottom:10px">
                </div>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

