<!-- Organizer Section -->
    <section id="organisation">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Organisation</h2>
                    <p>
                        The workshop is organised by (in alphabetical order):
                        <ul>
                        <li><a href="http://www.robin.aly.de/">Robin Aly (U Twente)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                        <li><a href="http://www.wis.ewi.tudelft.nl/chen/">Guanliang Chen (TU Delft)</a></li>
                        <li><a href="http://www.wis.ewi.tudelft.nl/davis/">Dan Davis (TU Delft)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                        <li><a href="http://www.wis.ewi.tudelft.nl/hauff/">Claudia Hauff (TU Delft)&nbsp;</a></li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </section>
