<!-- Overview Section -->
    <section id="overview">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Overview</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                        <i class="fa fa-info-circle fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Workshop Program</h4>
                    <p class="text-left">
                        The workshop program contains a keynote,
                        11 academic and 2 industry presentations and 3 demo presentations. 
                        Throughout the day, there will be plenty of time to network,
                        discuss and exchange ideas.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Keynote Speakers</h4>
                    <p class="text-left">
                        <a href="https://staff.fnwi.uva.nl/a.w.m.smeulders/">Arnold Smeulders</a>
                        (University of Amsterdam). <br>
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                        <i class="fa fa-clock-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Dates &amp; Location</h4>
                    <p class="text-left">
                        Submission deadline: November 1, 2017<br>
                        Submission notifications: November 10, 2017<br>
                        Workshop date: <mark>November 24, 2017</mark>
                    </p>
                    <p class="text-left">
                        The workshop will take place at the <a href="https://www.google.nl/maps/place/Netherlands+Institute+for+Sound+and+Vision/@52.2354285,5.1708564,17z/data=!3m1!4b1!4m5!3m4!1s0x47c66b5af17f1a73:0xd62b509149ca15ac!8m2!3d52.2354252!4d5.1730451?hl=en">Beeld en Geluid</a>.
                    </p>
                </div>
            </div>
        </div>
    </section>
