<!-- Organizer Section -->
    <section id="program">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Program</h2>
                    <p class="text-left">
                        A printable program in PDF format is <a href="Programma-DIR2017-v1.pdf">available</a>.
                        <br>
                        <table class="importantTable">

<tbody>


<tr>
<td class="timesCol"><code>&nbsp;9:03 - &nbsp;10:00</code></td>
<td class="programType">Registration
</td>


</tr>
<tr>
<td class="timesCol"><code>&nbsp;10:00 - &nbsp;10:05</code></td>
<td class="programType">Welcome - Tom de Smet
</td>
</tr>


<tr>
<td class="timesCol"><code>&nbsp;10:05 - 11:00</code></td>
<td><a href="https://staff.fnwi.uva.nl/a.w.m.smeulders/">Keynote: Arnold Smeulders</a>
<br><em></em>
</td>
</tr>


<tr>
<td class="timesCol"><code>11:00 - 10:30</code></td>
<td class="programType">Coffe break</td>
</tr>


<tr>
<td class="timesCol"><code>10:30 - 12:15</code></td>
<td><span class="programType">Session I: Digital Humanities</span><br><span class="chair">(chaired by Marijn Koolen)</span></td>
</tr>
<tr>
<td></td>
<td class="extraCellSpace">
	<em>Archaeological Entity Recognition for Information Retrieval in Dutch Archaeological reports</em> 
	<span class="authors">by Alex Brandsen, Suzan Verberne;</span> 
	<a href="accepted-submissions/DIR2017_paper_1.pdf">[Abstract]</a></td>
</tr>
<tr>
<td></td>
<td class="extraCellSpace">
	<em>Riches of the Poor: Using Crummy Entity Linkers for Interactive Search in Digital Humanities</em> 
	<span class="authors">by Alex Olieman, Kaspar Beelen, Milan van Lange, Jaap Kamps and Maarten Marx;</span> 
	<a href="accepted-submissions/DIR2017_paper_4.pdf">[Abstract]</a></td>
</tr>
<tr>
<td></td>
<td class="extraCellSpace">
	<em>Words are Malleable: Computing Semantic Shifts in Political and Media Discourse</em> 
	<span class="authors">by Hosein Azarbonyad, Mostafa Dehghani, Kaspar Beelen, Alexandra Arkut, Maarten Marx and Jaap Kamps;</span> 
	<a href="accepted-submissions/DIR2017_paper_10.pdf">[Abstract]</a></td>
</tr>
<tr>
<td class="timesCol"><code>12:15 - 12:45</code></td>
<td><span class="programType">Session II: Demos &amp; Prototypes</span></td>
</tr>
<tr>
<td></td>
<td class="extraCellSpace">
	<em>MediaSuite: Scholarly Research Environment for Multimedia
Archives</em> 
<span class="authors">by Roeland Ordelman, Jaap Blom, Willem Melder, Johannes Wassenaar, Eduardo Silva Navarette, Eva Baaren, Carlos Martinez Ortiz, Liliana Melgar, Julia Noordegraaf;</span>  
<a href="accepted-submissions/DIR2017_paper_14.pdf">[Abstract]</a></td>
</tr>
<tr>
<td></td>
<td class="extraCellSpace">
	<em>Federated Search with Searsia</em> 
	<span class="authors">by Djoerd Hiemstra and Dolf Trieschnigg;</span> 
	<a href="accepted-submissions/DIR2017_paper_13.pdf">[Abstract]</a></td>
</tr>
<tr>
<td></td>
<td class="extraCellSpace">
	<em>SPEX Environment for Real-time Cross-Media Recommendation</em> 
	<span class="authors">by Roeland Ordelman and Michiel Hildebrand;</span> 
	<a href="accepted-submissions/DIR2017_paper_12.pdf">[Abstract]</a></td>
</tr>


<tr>
<td class="timesCol"><code>12:45 - 13:45</code></td>
<td class="programType">Lunch &amp; Demos</td>
</tr>




<tr>
<td class="timesCol"><code>13:45 - 14:30</code></td>
<td><span class="programType">Session III: Search</span> <br><span class="chair">(chaired by Djoerd Hiemstra)</span>
</td>
</tr>
<tr>
<td></td>
<td class="extraCellSpace">
	<em>Research Challenges in Search as Learning</em> 
<span class="authors">by Claudia Hauff, Kevyn Collins-Thompson and Preben Hansen;</span>  
<a href="accepted-submissions/DIR2017_paper_11.pdf">[Abstract]</a></td>
</tr>
<tr>
<td></td>
<td class="extraCellSpace">
	<em>Searching the Enterprise</em> 
	<span class="authors">by Udo Kruschwitz, Charlie Hull;</span> 
	<a href="accepted-submissions/DIR2017_paper_2.pdf">[Abstract]</a></td>
</tr>
<tr>
<td></td>
<td class="extraCellSpace">
	<em>Dynamic Search in Specialized Domains</em> 
	<span class="authors">by Felipe Moraes, Rodrygo L. T. Santos and Nivio Ziviani;</span> 
	<a href="accepted-submissions/DIR2017_paper_8.pdf">[Abstract]</a></td>
</tr>



<tr>
<td class="timesCol"><code>14:30 - 14:50</code></td>
<td><span class="programType">Session IV: Industry</span></td>
</tr>
<tr>
<td></td>
<td class="extraCellSpace">
	<em>Beyond Movie Recommendations: Solving the Continuous Cold Start Problem in E-commerce Recommendations</em> 
	<span class="authors">by Julia Kiseleva;</span> 
	<!-- <a href="accepted-submissions/DIR2017_paper_5.pdf">[Abstract]</a></td> -->
</tr>
<tr>
<td></td>
<td class="extraCellSpace">
	<em>Leading People to Longer Queries in Site Search</em> 
	<span class="authors">by Djoerd Hiemstra, Claudia Hauff and Leif Azzopardi;</span> 
	<a href="accepted-submissions/DIR2017_paper_16.pdf">[Abstract]</a></td>
</tr>


<tr>
<td class="timesCol"><code>14:50 - 15:15</code></td>
<td><span class="programType">Coffee break</span></td>
</tr>
<tr>


<tr>
<td class="timesCol"><code>14:50 - 15:15</code></td>
<td><span class="programType">Session V: Algorithms and Analysis</span> <br><span class="chair">(chaired by Dolf Trieschnigg)</span></td>
</tr>
<tr>
<td></td>
<td class="extraCellSpace">
	<em>Neural Ranking Models with Weak Supervision</em> 
	<span class="authors">by Mostafa Dehghani, Hamed Zamani, Aliaksei Severyn, Jaap Kamps and W. Bruce Croft;</span> 
	<a href="accepted-submissions/DIR2017_paper_3.pdf">[Abstract]</a></td>
</tr>
<tr>
<td></td>
<td class="extraCellSpace">
	<em>Modeling Label Ambiguity for Neural List-wise Learning to Rank</em> 
	<span class="authors">by Rolf Jagerman, Julia Kiseleva and Maarten de Rijke;</span> 
	<a href="accepted-submissions/DIR2017_paper_7.pdf">[Abstract]</a></td>
</tr>
<tr>
<td></td>
<td class="extraCellSpace">
	<em>Generating Descriptions of Entity Relationships</em> 
	<span class="authors">by Nikos Voskarides, Edgar Meij, Maarten de Rijke;</span> 
	<a href="accepted-submissions/DIR2017_paper_15.pdf">[Abstract]</a></td>
</tr>
<tr>
<td></td>
<td class="extraCellSpace">
	<em>Ontology-based Aspect Detection for Sentiment Analysis</em> 
	<span class="authors">by Kim Schouten, Flavius Frasincar and Franciska de Jong;</span> 
	<a href="accepted-submissions/DIR2017_paper_9.pdf">[Paper]</a></td>
</tr>
<tr>
<td></td>
<td class="extraCellSpace">
	<em>Sequences of Diverse Song Recommendations</em> 
	<span class="authors">by Nava Tintarev, Christoph Lofi and Cynthia C. S. Liem;</span> 
	<a href="accepted-submissions/DIR2017_paper_6.pdf">[Paper]</a></td>
</tr>




<tr>
<td class="timesCol"><code>16:30 - 17:00</code></td>
<td class="programType">Panel</td>
</tr>
<tr>
<td class="timesCol"><code>17:00</code></td>
<td class="programType">Drinks</td>
</tr>
</tbody>
</table>
                </div>
            </div>
        </div>
    </section>
