<!-- Registration Section -->
    <section id="registration">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Registration</h2>
                    <p>
                        We handle registrations for the workshop through 
                        <a href="https://www.eventbrite.com/e/16th-dutch-belgian-information-retrieval-workshop-dir2017-tickets-39035722898?aff=eac2">EventBrite</a>.
                    </p>
                    <p>
                        If you have problems registering this way, please contact Roeland Ordelman.
                    </p>
                </div>
            </div>
        </div>
    </section>
